@import url(//fonts.googleapis.com/css?family=Lato:300:400);
@import url(//fonts.googleapis.com/css?family=Karla:300:400);

body {
    background: url("checkered-napkin-and-ingredients-on-kitchen-worktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Karla',sans-serif;
}

svg{
    margin-top: 5px;
}

select {
    margin-top: 150px;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 20em;
    height: 3em;
    padding: 0 4em 0 1em;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em, black;
    color: white;
    border-radius: 100px;
    box-shadow: 1px 4px 10px 1px white;
}

option {
    color: inherit;
    background-color: #320a28;
}

h1{
    color: white;
    margin-top: 20px;
    text-shadow: black;
    font-family: 'Karla',sans-serif;
    font-size: xxx-large;
    text-shadow: 1px 4px 10px 1px black;
}

h2 {
    display: flex;
    display: flex;
    align-items: self-end;
}

input[type=submit]{
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: #eee;
    font-weight: 700;
    background: white;
    color: #ffb800;
    box-shadow: 1px 4px 10px 1px black;
}


img {
    height: 105vh;
    width: 80vh;
    object-fit: cover;
}

#recipe{
    position: relative;
    background: rgba(242, 233, 222, 0.84);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 1rem;
    overflow: hidden;
    border-radius: 25px;
    font-family: 'Karla',sans-serif;
}

#warning{
    position: relative;
    background: rgba(0, 0, 0, 0.76);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    margin: 1rem;
    overflow: hidden;
    border-radius: 25px;
}

#title{
    position: relative;
    background: rgba(242, 233, 222, 0.84);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    margin: 1rem;
    overflow: hidden;
    border-radius: 25px;
}

#components{
    margin-left: 30px;
    margin-right: 30px;
}

div.littlelabel{
    display: flex;
    align-items: center;
}

svg{
    margin-right: 10px;
}